.App {
  margin: 72px 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.please-hire-me{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.App-link {
  color: #09d3ac;
}

ul{
  list-style-type: none;

}
a{
  text-decoration: none;
  color: lightblue;
  text-emphasis: 10emp;
}
