.App {
  margin: 72px 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  
  .main-divider {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}

.please-hire-me{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.App-link {
  color: #09d3ac;
}

.yr{
  width: 100px;
  height: 100px;
}

ul{
  list-style-type: none;

}
a{
  text-decoration: none;
  color: lightblue;
  text-emphasis: 10emp;
}
