.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 96px 48px;
}




.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  font-size: calc(16px);
  color: white;
}

.App-link {
  color: #09d3ac;
}

ul{
  list-style-type: none;

}
a{
  text-decoration: none;
  color: lightblue;
  text-emphasis: 10emp;
}
