.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  font-size: calc(16px);
  color: white;
}

.App-link {
  color: #09d3ac;
}

ul{
  list-style-type: none;

}
a{
  text-decoration: none;
  color: lightblue;
  text-emphasis: 10emp;
}
